Package: aliases
Version: <<VERSION_NUMBER>>
Section: base
Priority: optional
Architecture: amd64
Maintainer: Seb Glazebrook <sebastianglazebrook@gmail.com>
Description: Aliases
 Something here
 Something else here
