run_tests:
  command: eval "$(docker-machine env seb-dev)" && docker-compose run rust cargo test
workspace:
  command: eval "$(docker-machine env seb-dev)" && docker-compose run rust
tester:
  command: arg=$(FZF) && $0 $arg && echo $0 $arg >> ~/.bash_history
  enable_positional_arguments: true
release:
  command: cargo clean && ./scripts/build-release-osx.sh $0 && ./scripts/build-release-debian.sh $0
